#!/bin/bash
#
# Define hostname and domainname, change to your needs.
#

MY_HOSTNAME="myhost"
MY_DOMAIN="mydomain.tld"

#
# The global network interface, defaults to "ens192" for Ubuntu 16.04.
#                                           "eth0" for Debain 8.x.

MY_GLOBAL_INTERFACE="ens192"

#
# Don't edit below!
#

MY_FQDN="${MY_HOSTNAME}.${MY_DOMAIN}"

export MY_HOSTNAME MY_DOMAIN MY_GLOBAL_INTERFACE MY_FQDN
