#!/bin/bash
#
# Define the required data for nextcloud.
#
# Define the domain for libreoffice online. The domain must be already
# assigned to your host. The domain has to be different from the hostname
# and the nextcloud domain.

LOOL_DOMAIN="myoffice.mydomain.tld"

#
# Define the ServerAdmin for libreoffice online.

LOOL_SA="webmaster@mydomain.tld"

#
# Define the index number for apache2 site configuration file.

LOOL_APACHE_SITE_INDEX="101"

#
# Define username and password of the admin console. Must be set.

LOOL_ADMIN_NAME='looladminuser'
LOOL_ADMIN_PASSWD='looladminuserpassword'

#
# Define the name of the lool package.
LOOL_VERSION="lool-poco-1.9.0-core-cp-6.0-25-online-cp-4.0.1-1"

#
# Define the installation prefix for libreoffice online.
# Should be "/opt/lool".

LOOL_PREFIX="/opt/lool"

#
# Set additional nextcloud instances which are connecting to this online office.
# FQDNs seperated by blanks.

LOOL_CLIENTS="mysecondcloud.mydomain.tld mythirdcloud.mydomain.tld"

#
# Define maximum documents size in bytes, defaults to "0" for unlimited.

LO_DOC_SIZE="0"

#
# Define maximum virtual memory size for each process in Kbytes, defaults to "0" for unlimited, 1700 min..

LO_MAX_VIRT_SIZE="100000"

#
# Define maximum memory data segment size in Kbytes, defaults to "0" for unlimited.

LO_MAX_DATA_SEG_SIZE="100000"

#
# Define maximum stack memory size in Kbytes, defaults to "8000", "0" for unlimited.

LO_MAX_STACK_SIZE="8000"

#
# Define maximum file size to write in Mbytes, defaults to "0" for unlimited.

LO_MAX_FILE_SIZE="200"

#
# Define maximum number of open files, defaults to "0" for unlimited.

LO_MAX_FILE_NUM="100"

#
# Don't edit below!
#

_LOOL_DOMAIN_="$(echo "${LOOL_DOMAIN}" | sed 's/\./-/g' -)"
LOOL_SITE_CONFIG="${LOOL_APACHE_SITE_INDEX}-${_LOOL_DOMAIN_}-le-ssl"

export LOOL_DOMAIN LOOL_SA LOOL_ADMIN_NAME LOOL_ADMIN_PASSWD LO_DOC_SIZE LOOL_VERSION LOOL_PREFIX _LOOL_DOMAIN_ LOOL_SITE_CONFIG
export LOOL_CLIENTS LO_MAX_VIRT_SIZE LO_MAX_DATA_SEG_SIZE LO_MAX_STACK_SIZE LO_MAX_FILE_SIZE LO_MAX_FILE_NUM
