{
	"gpx": ["application/gpx+xml"],
	"kml": ["application/gpx+xml"],
	"tcx": ["application/gpx+xml"],
	"igc": ["application/gpx+xml"],
	"fit": ["application/gpx+xml"],
	"m4a": ["audio/mp4"],
	"m4b": ["audio/mp4"],
	"mp3": ["audio/mpeg"],
	"ogg": ["audio/ogg"],
	"opus": ["audio/ogg"],
	"wav": ["audio/wav"],
	"flac": ["audio/flac"]
}
